.btn-black {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
  background: #030305;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;

  color: #030305;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-header__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #030305;
}
.main-header__list {
  display: flex;
  gap: 115px;
}
.main-header {
  border-bottom: 1px solid #e5e5e5;
}
.main-header__container {
  display: flex;
  gap: 244px;
  align-items: center;
  padding: 25px 0;
}
.first-screen__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  color: #030305;
  width: 502px;
  margin: 0;
  margin-bottom: 40px;
}
.main-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  /* or 88px */
  color: #030305;
  margin: 0;
  margin-bottom: 40px;
}
.first-screen__link{
  width: 334px;
}
.first-screen{
  padding-top: 105px;
  padding-bottom: 154px;
  background: url(img/background\ \(1\).png) no-repeat center center;
  margin-bottom: 100px;
}
.products__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 40px 24px;
}
.product__title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

text-align: center;
letter-spacing: 0.02em;

color: #030305;
}
.description__title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 130%;
/* or 21px */

text-align: center;
letter-spacing: 0.02em;

color: #030305;

}
.description__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #030305;
}
.product__descriptions{
  display: flex;
  align-items: center;
  gap: 25px;
  width: fit-content;
  margin: 0 auto;
}
.description{
  text-align: center;
}
.ca__text{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
color: #5D5D5F;
margin: 0;
margin-bottom: 60px;
}
.products{

  margin-bottom: 100px;
}
.ca__title{
  margin: 0;
  margin-bottom: 20px;
}
.ca__form{
  display: flex;
  flex-direction: column;
  width: 344px; 
  gap: 15px;
}
.ca__input{
  padding: 22px 18px;
  box-sizing: border-box;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
color: #5D5D5F; 
background: #FFFFFF;
border: 1px solid #5D5D5F;
}
.ca__text{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */
color: #030305;
}
.main-footer{
  border-top: 1px solid #E5E5E5;
  padding: 25px 0;
}
.main-footer__container{
  display: flex;
 justify-content: space-between;
  align-items: center;
}
.ca_img{
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: -100px;
}
.ca{
  position: relative;
  padding-bottom: 121px;
}